* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #201315;
}

.calculator {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 600px;
	background-color: #56382D;
	box-shadow: 15px 15px 15px black;
	padding: 30px;
	margin: 50px auto;
	border-radius: 25px;
}

.display,
.displayResult {
	background-color: #ffdbbb;
	border: 1px solid #496580;
	height: 100px;
	margin-bottom: 20px;
	border-radius: 15px;
	padding: 20px;
	font-size: larger;

}

button {
	height: 70px;
	width: 70px;
	margin: 3px;
	font-size: larger;
	border-radius: 15px;
	background-color: #f8f3eb;
	color: black;
}

button:hover {
	box-shadow: 1px 1px 7px #e76d57;
	background-color: #ffdbbb;
}

.functionButtons {
	display: flex;
	margin-bottom: 10px;

}

.functionButtons button {
	flex-grow: 1;
}

.keys {
	display: flex;
	flex-wrap: wrap;
}

.keys button {
	flex-grow: 1;
}